# wait-for-keypress

## Usage
```javascript
const waitForKeypress = require('@xtrctio/wait-for-keypress');

(async () => {
    await waitForKeypress({a: 'Success!', f: 'Failure!'});
})()
```

## API
{{>main}}
